<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4">
  <div class="container-fluid">
    <h3 class="text-secondary fs-4">Experiment in preparation...</h3>
    <div class="navbar-nav">
      <div class="spinner-border" role="status"></div>
    </div>
  </div>
</nav>
<div
  *ngIf="this.preparing_logs"
  class="container"
  style="overflow-y: scroll; height: 700px"
>
  <div
    *ngFor="let log of this.preparing_logs.data"
    class="card my-5 border-secondary bg-light"
  >
    <div class="card-body">
      <div class="row">
        <p>{{ log.message }}</p>
      </div>
    </div>
  </div>
</div>

<button
  class="btn btn-light text-secondary mt-2 float-end"
  (click)="this.closeDialog()"
>
  <i class="bi bi-x"></i>Close
</button>
